.page__container-header {
    margin: 0 auto;
    max-width: 320px;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .page__container-header {
        max-width: 768px;

    }
}


@media screen and (min-width: 1280px) {
    .page__container-header {
        max-width: 1280px;
        margin: 0 200px;
    }
}